.container {
    display: flex;
    justify-content: space-between;
    font-family: "Monaco", sans-serif;
    margin: 80px 10px;
    padding: 25px;
    background-color: white;
    gap: 25px;
  }
  
  .form-column {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input[type="text"] {
    min-width: 95%;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: #ccc;
  }

  .form-group input::placeholder {
    color: #ccc;
  }

  .form-group.ticks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    color: black;
    width: 100%;
    font-size: 1.1em;
    padding-bottom: 30px;
}

.exposition {
  flex: 1 0 100%;
  text-align: left;
  padding: 10px 0px;
}

.direction-checkboxes {
  flex: 1 0 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

  .map-column {
    flex: 1;
    /* Add styles for the Google Map element here */
  }
  .form-header {
    color: #ccc;
    padding: 35px 0px;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
  }
  .form-dropdown {
    display: flex;
    width: 100%;
    gap: 16px;
  }


    /* Hide the default checkbox */
    input[type="checkbox"] {
      display: none;
    }
  
    /* Style the custom checkbox container */
    .checkbox-container {
      display: inline-block;
      position: relative;
      width: 20px; /* Customize the size of the checkbox */
      height: 20px;
      background-color: #fff; /* Background color of the checkbox */
      border: 2px solid #008bd0; /* Border color of the checkbox */
      border-radius: 4px; /* Border radius to make it round */
      cursor: pointer;
    }
  
    /* Style the tick icon */
    .checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px; /* Customize the size of the tick */
      height: 10px;
      border-bottom: 2px solid #008bd0; /* Color of the tick */
      border-right: 2px solid #008bd0;
      visibility: hidden; /* Hide the tick by default */
    }
  
    /* Show the tick when the checkbox is checked */
    input[type="checkbox"]:checked + .checkbox-container .checkmark {
      visibility: visible;
    }

    .checkbox-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: 4px;
  }

  .checkbox-container {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .checkbox-container.checked:after {
    content: '\2713'; /* Unicode character for check mark */
    font-size: 20px;
    color: #0070d0;
    position: absolute;
    top: -3px;
    left: 3px;
  }

  .direction-checkboxes-text{
    color:#ccc;
    font-size: 0.8em;
    padding-top: 3px;
  }

  .form-group.button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-group.button button {
  width: 100%;
  background-color: #0070d0;
  border: 1px solid #0070d0;
  padding: 13px;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
}

.form-group.button.hovered {
  width:60%;
}

.form-group.button.hovered button{
  background-color: turquoise;
  border: 1px solid turquoise;
  color: #0070d0;
}
  