.main { 
  background-image: url('../assets/hero-image.jpg');
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu {
  height: 39px;
  padding: 18px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0; 
  transition: background-color 0.7s ease;
  z-index: 1000; 
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.5); 
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin-top: 70px; 
}
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
  }
  
  .menu-toggle {
    cursor: pointer;
  }
  
  .icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: transform 0.3s;
  }
  
  .icon::before,
  .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  
  .icon::before {
    top: -8px;
  }
  
  .icon::after {
    bottom: -8px;
  }
  
  .open.icon::before {
    transform: rotate(90deg);
    top: 0px;
  }
  
  .open.icon::after {
    transform: rotate(0deg);
    top: 0px;
  }
  
  .open.icon {
    transform: rotate(45deg);
  }
  
  .menu {
    display: none;
  }

  .menu a{
    text-decoration: none;
    color: inherit;
  }
  
  .menu.open {
    display: flex;
    flex-direction: column;
    order: -1;
    position: relative;
    top: 80px;
    right: 10px;
    background: radial-gradient(80% 40%, #008bd0, #002c45);
    border: 5px solid #002c45;
    border-radius: 5%;
    padding: 20px;
  }
  
  .menu.open div {
    padding:5px;
    font-size: 1.3em;
  }

  .main-logo {
    margin-left: 150px;
  }
  
  .navbar {
    margin-right: 80px;
  }
  

  .main-header h1 {
    font-weight: normal;
    font-size: 3.5em;
    margin-block-end: 0em;
  }

  .main-underheader h3 {
    font-size: 1.5em;
  }

  .main-underheader, .main-buttons{
    flex: 1 0 100%;
    text-align: center;
  }
  