<div class="main">
  <div class="main-menu">
    <div class="main-logo"><img src="assets/logo_outline_white.svg" alt="Logo-main Ocenime.bg"></div>
    <div class="navbar"(click)="toggleMenu()">
      <div class="menu-toggle" >
        <div class="icon" [ngClass]="{'open': isMenuOpen}"></div> <!-- Icon container -->
      </div>
      <div class="menu" [ngClass]="{'open': isMenuOpen}">
        <div class="hb-menu-item">Реални сделки</div>
        <div class="hb-menu-item">Национална статистика</div>
        <div class="hb-menu-item">Поръчай онлайн</div>
        <div class="hb-menu-item">Правна помощ</div>
        <div class="hb-menu-item">Блог</div>
      </div>
    </div>
  </div>
  <div class="main-body">
    <div class="main-header">
      <h1>Без значение дали си <b>brada</b></h1>
    </div>
    <div class="main-underheader">
      <h3>тук ще намериш <b>всичко</b>, което би искал да знаеш за твоето жилище!</h3>
    </div>
    <div class="main-buttons">
      <app-my-component>test</app-my-component>
    </div>
  </div>
</div>

<router-outlet />
